
*/inputs_csv/*
*/results/*

*/*.glp
*/*.sol
*/simulation_results.txt

Model_Cluster/Cluster.txt
Model_Kotzur/Kotzur.txt
Model_Niet/Niet.txt
Model_Welsch/Welsch.txt

Results_Limited/*
Results/*

*/__pycache__


Data_8760/*
docs/build