.snakemake/*
archive
build/*

#data
data/downloaded_data/CODERS/*
data/downloaded_data/cutout/*
data/downloaded_data/GADM/*
data/downloaded_data/GAEZ/*
data/downloaded_data/Gov/*
data/downloaded_data/GWA/*
data/downloaded_data/lands
# data/downloaded_data/NREL/ATB     # This data stays to github as example
# data/downloaded_data/OEDB        # This data stays to github as example
data/downloaded_data/OSM/*
data/store/*
log/*

scripts/__pycache__
*/tests
Archive
RES/__pycache__/*
workflow/log
results/linking/*.html
results/scenario_1
results/scenario_2


.github
.vscode
cache

workflow/scripts/__pycache__

docs/*.html
ROD_2024/*.xlsm
ROD_2024/*.pkl
AB_temp_analysis/*
ROD_2024/*.html

data/processed_data/regions/*.geojson
ROD_2024/ROD_2024/*.html
Lines_BC.png
notebooks/vis
RES/__pycache__/*
*.pyc
*/*/*.pyc
RES/__pycache__
data/*.xlsx
data/processed_data/*.csv
notebooks/*.png
notebooks/*.html
RES/__pycache__
RES/__pycache__/AttributesParser.cpython-312.pyc
data/downloaded_data/CODERS/coders_api.yaml
docs/build/_static/locales
docs_env